.preloader{
    /* max-width: 700px; */
    width: 100%;
background-color: black;
display: flex;
justify-content: center;
align-items: center;
min-height: 90vh;
flex-direction: column;
padding: 1rem;
}
.preloader img{
    width: 80%;
    max-width: 700px;
    /* margin: auto; */
}
.preloader p{
    text-align: center;
    color: #fff;
}
.texts-container{
display: flex;
justify-content: space-between;
align-items: center;
height:100px;
width: 350px;
font-size: 30px;
overflow: hidden;
color:#fff ;
gap: 10px;

}